*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-regular: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 2rem;
  --font-size-extralarge: 2.25rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --color-1: #121826;
  --color-2: #4138c2;
  --color-3: #9da3ae;
  --color-4: #c9d2fa;
  --color-5: #e14f62;
  --color-6: #e2b53e;
  --color-7: #ffffff;
  --color-8: #4e80ee;
  --color-9: #52b3d0;
  --color-10: #5ec269;
  --color-11: #9d59ef;
  --color-12: #c951e7;
  --color-13: #d5faf1;
  --color-14: #dee9fc;
  --color-15: #e2fbe8;
  --color-16: #e5e7eb;
  --color-17: #e87b35;
  --color-18: #f1e8fd;
  --color-19: #fbe5e6;
  --color-20: #fceed8;
  --color-21: #fdf9c9;
  --button-height: 3rem;
  --hero-img-width: 34.375rem;
}

html {
  font-family: "Be Vietnam Pro", serif;
  font-size: 16px;
}

/* Layout */
.hero {
  display: grid;
  grid-template-columns: 1fr var(--hero-img-width);
  grid-template-rows: var(--button-height) auto;
  grid-template-areas:
    "logo   connect"
    "text   picture";
  align-items: center;
  gap: 3rem;

  width: 90%;
  min-height: 100vh;
  margin: 1rem auto;
}

.logo {
  grid-area: logo;
}
.connect-button {
  grid-area: connect;
  justify-self: end;
}
.hero__text {
  grid-area: text;
}
.hero__picture {
  grid-area: picture;
}
.connect-button,
.hero__picture {
  justify-self: end;
}
.hero__text, .hero__picture {
  justify-self: center;
}
.hero__img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* MODULES */
img {
  display: block
}

button {
  border-radius: 10rem;
  outline: none;
  border: 2px solid var(--color-16);
  background-color: var(--color-7);
  width: 8rem;
  height: var(--button-height);
  font-size: var(--font-size-regular);
}

/* TYPOGRAPHY */
.title, button {
  font-weight: var(--font-weight-bold);
}
.hero__text__heading {
  font-size: var(--font-size-extralarge);
}
.join__title {
  font-size: var(--font-size-large);
}
.feature__title {
  font-size: var(--font-size-medium);
}
button, .hero__text__description {
  font-size: var(--font-size-regular);
}