*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-regular: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 2rem;
  --font-size-extralarge: 2.25rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --color-1: #121826;
  --color-2: #4138c2;
  --color-3: #9da3ae;
  --color-4: #c9d2fa;
  --color-5: #e14f62;
  --color-6: #e2b53e;
  --color-7: #ffffff;
  --color-8: #4e80ee;
  --color-9: #52b3d0;
  --color-10: #5ec269;
  --color-11: #9d59ef;
  --color-12: #c951e7;
  --color-13: #d5faf1;
  --color-14: #dee9fc;
  --color-15: #e2fbe8;
  --color-16: #e5e7eb;
  --color-17: #e87b35;
  --color-18: #f1e8fd;
  --color-19: #fbe5e6;
  --color-20: #fceed8;
  --color-21: #fdf9c9;
  --button-height: 3rem;
  --hero-img-width: 34.375rem;
  --begin-background-width: 64rem;
  --begin-background-height: 33.8125rem;
  --section-width: 90%;
}

html {
  font-family: "Be Vietnam Pro", serif;
  font-size: 16px;
}

/* Hero Layout */
.hero {
  display: grid;
  grid-template-columns: 1fr var(--hero-img-width);
  grid-template-rows: calc(var(--button-height) + 1rem) auto;
  grid-template-areas:
    "logo   connect"
    "text   picture";
  gap: 3rem;

  width: var(--section-width);
  min-height: 100vh;
  margin: auto;
}

.logo {
  grid-area: logo;
  align-self: end;
}
.connect-button {
  grid-area: connect;
  justify-self: end;
  align-self: end;
}
.hero__text {
  grid-area: text;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.hero__text__buttons {
  display: flex;
  gap: 1rem;
}
.hero__picture {
  grid-area: picture;
  align-self: center;
}
.connect-button,
.hero__picture {
  justify-self: end;
}
.hero__text,
.hero__picture {
  justify-self: center;
}
.hero__img {
  width: 100%;
  height: auto;
}

/*Join Section Layout*/
.join {
  width: var(--section-width);
  margin: auto;
}
.join__title {
  width: min(100%, 12em);
  margin: 0 auto 2em;
}
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem 0;
}
.emoji {
  background-color: pink; /* TEMPORARY: Change later */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  margin: auto;
  border-radius: 0.5em;
}
.feature__title {
  width: 10em;
  margin: 1em auto 0;
}

/* Begin Section Layout */
.begin {
  position: relative;
  width: 100%;
  height: var(--begin-background-height);
  margin-top: 10rem;
}
.begin-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.begin-background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.begin__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100%, 25em);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 2em;

  width: 100%;
  padding: 1.5em 5%;
  background-color: #121826;
}

/* MODULES */
picture,
img {
  display: block;
}

button {
  border-radius: 10rem;
  outline: none;
  border: 2px solid var(--color-16);
  background-color: var(--color-7);
  width: 8rem;
  height: var(--button-height);
  font-size: var(--font-size-regular);
}
.create-button {
  background-color: var(--color-2);
  color: var(--color-7);
  border: 2px solid var(--color-2);
}

/* TYPOGRAPHY */
.title,
button {
  font-weight: var(--font-weight-bold);
}
.hero__text__heading {
  font-size: var(--font-size-extralarge);
}
.join__title,
.begin__title {
  font-size: var(--font-size-large);
  text-align: center;
}
.begin__title {
  color: var(--color-7);
}
.feature__title {
  font-size: var(--font-size-medium);
  text-align: center;
}
button,
.hero__text__description {
  font-size: var(--font-size-regular);
}
.emoji {
  font-size: var(--font-size-large);
}
.footer__item {
  color: var(--color-7);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
}
.copyright {
  color: var(--color-3);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

@media (min-width: 1281px) {
  html {
    font-size: clamp(16px, 1.25vw, 20px);
  }
}

@media (max-width: 1024px){
  .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(var(--button-height) + 1rem) auto auto;
    grid-template-areas:
      "logo     connect"
      "picture  picture"
      "text     text";
  
  }
  .hero__img {
    width: min(var(--hero-img-width), 100%);
    height: auto;
    margin: auto;
  }
  .hero__text__buttons {
    justify-content: center;
    margin-bottom: 8rem;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 2rem 0;
  }
}

@media (max-width: 480px) {
  html {
    font-size: clamp(14px, 3.333vw, 16px);
  }

  :root {
    --font-size-extralarge: 2rem;
    --font-size-large: 1.75rem;
  }
  
  .hero__text__buttons {
    flex-direction: column;
    align-items: center;
  }

  .features {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 2rem 0;
  }

  footer {
    bottom: -10%;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 1.5em 5%;
    background-color: #121826;
  }
}
